<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfilePage</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class = "wholewebpage">
        <div class="pageheader_cooking">
            <h1>Cooking</h1>
            <h2><a class = "a3" href="/personal">Main</a></h2>
        </div>
        <div class = "row3">
            <div class="education_cooking">
                <div class="containergray">
                    <h2 id="educationlabel">Red Cooked Pork Belly</h2>
                </div>
                <div>
                    <img src="static/css/images/RedCookedPorkBelly.JPG" class = "cooking_icon" alt="map-marker" >
                </div>
            </div>
        </div>
        <div class = "row3">
            <div class="education_cooking">
                <div class="containergray">
                    <h2 id="educationlabel">Chicken Parmesan</h2>
                </div>
                <div>
                    <img src="static/css/images/ChickenParm.JPG" class = "cooking_icon" alt="map-marker" >
                </div>
            </div>
        </div>
        <div class = "row3">
            <div class="education_cooking">
                <div class="containergray">
                    <h2 id="educationlabel">Garlic Steak</h2>
                </div>
                <div>
                    <img src="static/css/images/RusticSteak.jpg" class = "cooking_icon" alt="map-marker" >
                </div>
            </div>
        </div>
    </div>
    <script src="profilepage.js"></script>
</body>
</html>