<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>

    <form action="/update" method="post" class="col-6 mx-auto">
        <h2 class="text-center">Edit Recipe</h2>
        <input type="hidden" name="id" value={{recipe.id}}>
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" name="name"  class="form-control" value="{{recipe.name}}">
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <input type="text" name="description"  class="form-control" value="{{recipe.description}}">
        </div>
        <div class="form-group">
            <label for="instructions">Instructions:</label>
            <input type="text" name="instructions"  class="form-control" value="{{recipe.instructions}}">
        </div>
        <div class="form-group">
            <label for="thirty_min_or_less">Under 30 Minutes?</label>
            <input type="text" name="thirty_min_or_less"  class="form-control" value="{{recipe.thirty_min_or_less}}">
        </div>
        <input type="submit" value="Update" class="btn btn-success">
    </form>

    <a href="/dashboard">Dashboard</a>
    <a href="/">Logout</a>
</body>
</html>

{% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
    {% if messages %}                            <!-- check if there are any messages -->
        {% for message in messages %}            <!-- loop through the messages -->
            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
        {% endfor %}
    {% endif %}
{% endwith %}