<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        body, html {
        height: 100%;
        margin: 0;
      }
      
      .bg {
        /* The image used */
        background-image: url("static/css/images/html_hero_background.jpeg");
      
        /* Full height */
        height: 100%; 
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    </style>
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/css/fullpage.css">
</head>
<body>
  <div class="bg">
    <header id="header">
      <div class="content">
        <div class="inner">
          <h1>Nathon Chin</h1>
          <div class="wholecircle">
            <div class="circleborder">
                <img src="static/css/icons2/nathon-chin.jpeg" class = "user-circlenc" alt="user-circle" >
            </div>
          </div>
          
          Problem Solver | Engineer | Enthusiast 
        </div>
      </div>
      <nav>
        <ul>
          <li><a href="/projects">Projects</a></li>
          <li><a href="static/css/images/NCResumeFinal2021-2-copy.pdf" download="newfilename">Resume</a></li>
          <li><a href="/cooking">Hobbies</a></li>
        </ul>
      </nav>
    </header>
    <header id="header">
      <div class="content">
        <div class="inner">
          Hi, my name is Nathon Chin. I am an aspiring software engineer and tech enthusiast. <br>
          I am fascinated by the tech industry and the astonishing brains that inhabit it. I have <br>
          a strong desire to learn from these creators and how they innovate. I hope you learn a <br>
          little bit about myself from this website I've created. <br>
        </div>
      </div>
      
    </header>
    <header id="header">
      <div class="content">
        <div class="inner">
          <ul>
            <li><a href="https://www.linkedin.com/in/nathon-chin-07485213a/">LinkedIn</a></li>
            <li><a href="https://www.facebook.com/nathon.chin/">Facebook</a></li>
            <li><a href="https://www.instagram.com/nathonboy/">Instagram</a></li>
          </ul>
        </div>
      </div>
      
    </header>
    
  </div>
  


</body>
</html>