<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProfilePage</title>
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
    <div class = "wholewebpage">
        <div class = "row3">
            <div class="education">
                <div class="containergray">
                    <h2 id="educationlabel">Projects</h2>
                </div>
                <h5 class="friendrequest"><a href="/">Bonzai</a></h5>
                <h5 id="friendrequest1">A thought sharing platform for the online community</h5>
            </div>
        </div>
    </div>
    <script src="profilepage.js"></script>
</body>
</html>